*~
.*~

*.pyc

temp/
venv/

*.xlsx
*.xls

*.html
*.txt
*.output
*.exe

*.bin
*.o
*.lst
*.lis

doc/

parser/rules.go
internal/testutil/errcode_names.go

.vscode/launch.json

!parser/testdata/*.txt

*.md
!README.md
!lister/testdata/*.txt

parser.go
