*~
.*~

*.pyc

temp/
venv/

*.xlsx
*.xls

*.html
*.txt
*.output
*.exe

*.bin
*.o
*.lst
*.lis

doc/

parser/rules.go
errtest/errcode_names.go

.vscode/launch.json

!parser/testdata/*.txt

*.md

parser.go
