*~
.*~

*.pyc

temp/
venv/

*.xlsx
*.xls

*.html
*.txt
*.output
*.exe

*.bin
*.o
*.lst
*.lis
*.jar
*.mzt
*.t88
*.bat
*.pdf
*.map
*.sym
*.prof


doc/
port/

#parser/rules.go
#parser/parser.go
# internal/errcodenames/errcode_names.go
performance/*.bin
performance/*.o
performance/zma.*

.vscode/launch.json

!parser/testdata/*.txt

*.md
!README.md
!CHANGELOG.md
!lister/testdata/*.txt

# Added by goreleaser init:
dist/
